@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
    <tr>
        <th>Day</th>
        <th>Warm Dish</th>
        <td>Cold Dish</td>
    </tr>
    <tr>
        <td>Man 02</td>
        <td>Chicken and Pasta</td>
        <td>Smørebrød</td>
    </tr>
    <tr>
        <td>Tue 03</td>
        <td>Pumkin soup</td>
        <td>Pastasalad</td>
    </tr>


</table>
